<h1>Carrito</h1>
<table style="width: 100%;">
    <thead>
        <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Code</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td><img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" style="width: 150px; border-radius: 10px; margin-left: 20px;"></td>
            <td>{{this.product.title}}</td>
            <td>{{this.product.code}}</td>
            <td>{{this.product.category}}</td>
            <td>${{this.product.price}}</td>
            <td><button class="btn btn-danger" id="{{this.product._id}}">Eliminar</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button class="btn btn-warning" style="margin: 100px;" id="vaciar">Vaciar Carrito</button>



<script>
    let botonesEliminar = document.querySelectorAll("button")
    botonesEliminar.forEach(function(boton){
        boton.addEventListener("click",eliminarDelCarrito)
    })

   async function eliminarDelCarrito(e){
      const idProducto = e.target.id
      const currentURL = window.location.href;
      const parts = currentURL.split('/');
      const idCarrito = parts[parts.length - 1];
      try {
        // Realiza una solicitud de eliminación al servidor usando Fetch API
        const response = await fetch(`/carrito/${idCarrito}/products/${idProducto}`, {
            method: "DELETE",
        });

        if (response.ok) {
            const result = await response.json();
            console.log(result.message);
            location.reload()
        } else {
            console.error("Error al eliminar el producto del carrito");
        }
    } catch (error) {
        console.error("Error de red:", error);
    }
    }
    let botonVaciar = document.getElementById('vaciar')
    botonVaciar.addEventListener("click",vaciarCarrito)
    
   async function vaciarCarrito(){
      const currentURL = window.location.href;
      const parts = currentURL.split('/');
      const idCarrito = parts[parts.length - 1];
       try {
        const response = await fetch(`/carrito/${idCarrito}`, {
            method: "DELETE",
        });

        if (response.ok) {
            const result = await response.json();
            console.log(result.message);
            location.reload()
        } else {
            console.error("Error al vaciar el carrito");
        }
    } catch (error) {
        console.error("Error de red:", error);
    }
    }
</script>



